body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

p.ee {
    cursor: default;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
}

.social-icons a {
    background-color: #495057;
    color: #FFF !important;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:hover {
    background-color: #5E37BB;
}

.social-icons a:last-child {
    margin-right: 0;
}

.dev-icons {
    font-size: 3rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFF;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.dark-mode-toggler {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 1rem;
    position: absolute;
    bottom: 0;
}

.dark-mode-toggler .nav-link {
    width: 100%;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgba(255,255,255,.5) !important;
    cursor: pointer;
}

.dark-mode-toggler .nav-link::after {
    margin-left: .5rem;
}

.dark-mode-toggler .nav-link:hover {
    color: rgba(255,255,255,.75) !important;
}

@media (max-width: 992px) {
    .dark-mode-toggler {
        width: auto;
        top: 0;
        right: 0;
        padding: 0;
    }

    .dark-mode-toggler .nav-link::after {
        content: '';
        display: none;
    }
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }
    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

.gdpr-banner {
    display: none;
    position: sticky;
    bottom: 0;
    background-color: #17181C;
    border-top: 5px #5E37BB solid;
    max-height: 88px;
    padding: .5rem;
}

.gdpr-banner > p, .gdpr-banner > h2, .gdpr-banner > h5 {
    color: #D1CEC9 !important;
}

.gdpr-banner .fa-cookie {
    transform: scale(0.95);
    transition: transform 500ms;
}

.gdpr-banner .fa-cookie:hover {
    transform: scale(1);
}

.gdpr-dismiss {
    cursor: pointer;
    font-weight: 400 !important;
}

.gdpr-dismiss:hover {
    font-weight: 900 !important;
}

@media (max-width: 992px) {
    .gdpr-banner {
        padding: 2rem;
    }
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

@media print {
    .bv, .ee {
        display: none;
    }
    a {
        text-decoration: none !important;
    }
    .social-icons {
        -webkit-print-color-adjust: exact;
    }
    .social-icons::after {
        content: "BrunoMoreira99";
        margin-left: 1rem;
        color: #343A40;
    }
    section.resume-section {
        min-height: 0;
    }
    .gdpr-banner {
        display: none !important;
    }
    .page-break {
        page-break-after: always;
    }
}

.bg-primary {
    background-color: #5E37BB !important;
}
